.filters {
    margin-top: 30px;
    display: flex;
}

.filter__list {
    align-items: flex-start;
    width: 90%;

    li {
        display: inline-block;
        background: #fff;
        width: 30%;
        text-align: center;
        letter-spacing: 1px;
        font-size: 14px;
        cursor: pointer;
        color: rgba(64,77,87,.6);
        padding: 17px;
        border-right: 1px solid rgba(64,77,87,.2);
        position: relative;

        &:last-child {
            border-right: none;
        }

        &:before {
            content: "";
            background: url(http://localhost:3000/downarrow.svg) 50% 50% / cover no-repeat;
            width: 8px;
            height: 10px;
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }
}

.filter__toggle {
    align-items: flex-end;
    display: inline-block;
    background: #fff;
    border: 0;
    width: 60px;
    outline: 0;
    margin-left: 45px;
    cursor: pointer;
}
