.filters {
    margin-top: 30px;
    display: flex;
    justify-content: space-between
}

.filter__list {
    width: 90%;

    li {
        display: inline-block;
        background: #fff;
        width: 30%;
        text-align: center;
        letter-spacing: 1px;
        font-size: 14px;
        cursor: pointer;
        color: rgba(64,77,87,.6);
        padding: 17px;
        border-right: 1px solid rgba(64,77,87,.2);
        position: relative;

        &:last-child {
            border-right: none;
        }
    }
}

.filter__toggle {
    display: inline-block;
    background: #fff;
    border: 0;
    width: 60px;
    outline: 0;
    cursor: pointer;
}
