.tag {
    align-items: flex-start;
    display: inline-block;
    color: #fff;
    cursor: pointer;
    padding: 13px;
    padding-right: 53px;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 14px;
    text-transform: capitalize;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
    line-height: 1;
    position: relative;

    &__location {
        background: red;

        .tag__cancel {
            &:hover {
                    background-color: darken(red, 7%);
            }
        }
    }

    &__date {
        background: #2196F3;

        .tag__cancel {
            &:hover {
                background-color: darken(#2196F3, 7%);
            }
        }
    }

    &__occupancy,
    &__occupancy-adults,
    &__occupancy-children {
        background: #4CAF50;

        .tag__cancel {
            &:hover {
                background-color: darken(#4CAF50, 7%);
            }
        }
    }

    &__activity,
    &__activities {
        background: #FFAB00;

        .tag__cancel {
            &:hover {
                background-color: darken(#FFAB00, 7%);
            }
        }
    }
}

.tag__cancel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    display: inline-block;
    width: 40px;
    text-align: center;
    border-left: 1px solid rgba(0,0,0,.1);
    font-weight: bold;
    font-size: 16px;
    line-height: 42px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
